ErrorDocument 404 /404.html
<IfModule mod_rewrite.c>
RewriteCond %{HTTP_HOST} ^showyourcompany.com [NC]
RewriteRule (.*) http://www.showyourcompany.com/$1 [R=301,L,QSA]
</IfModule>
<IfModule mod_rewrite.c>
RewriteCond %{HTTPS} off
RewriteRule (.*) https://www.showyourcompany.com/$1 [R=301,L,QSA]
</IfModule>
